* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font: normal 15pt arial;
}

header {
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

section {
    background-color: white;
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.entrada {
    color: black;
    margin-bottom: 10px;
}

.entrada p {
    margin-bottom: 10px;
}

.envia input{
    padding: 5px;
}

.saida {
    margin-top: 10px;
}